@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Complaint Logging System is self-service portal where the customer of the telecom provider 'Unique Telecom Provider' 
    can log complaints or issue they have with the products or subscriptions. </p>
